{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
{% endblock %}

{% block content %}


<div class="text-center px-2 mb-3">
    <h2>Create Deal</h2>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="text-center mb-3 text-muted">All information can be changed later</div>
        <form method="POST">{% csrf_token %}

          <div class="text-center mb-3">
            <h5>Company</h5>
            <input required endpoint="{% url 'create_deal_get_data_company' %}?action=select" type="radio" class="btn-check" name="action" value="select" id="select" autocomplete="off">
            <label class="btn btn-primary" for="select">Select</label>
            <input required endpoint="{% url 'create_deal_get_data_company' %}?action=create" type="radio" class="btn-check" name="action" value="create" id="create" autocomplete="off">
            <label class="btn btn-primary" for="create">Create</label>
          </div>
  <div id="extra_data" class="mb-3">
  
  </div>
<hr>
  <div class="mb-3">
    <label class="form-label">Deal Notes</label>
    <textarea name="notes" class="form-control"></textarea>
  </div>
    
  <button class="btn btn-primary w-100" type="submit">Create Deal</button>
  
        </form>
    </div>
    </div>

{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="{% static 'js/deal.js' %}"></script>
{% endblock %}
