{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center px-2 mb-3">
    <h2>{{object.created_by}}'s Deal with {{object.company.name}}</h2>
    <h4 class="text-muted">Status: {{object.get_status_display}} <span class="dot dot-{{object.status}}"></span></h4>
    {% if deal.signed_at %}
        <h5 class="">Signed at {{deal.signed_at}}</h5>
    {% endif %}
    <h5 class="text-muted mb-0">Total Value: ${{deal.get_total_value|floatformat:2}}</h5>
    <small class="text-muted">Trade value + Cash payment</small>
</div>
<div class="col-12 col-md-8">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Deal Info</h4>
            <form method="POST">{% csrf_token %}
                <div class="mb-3">
                    <textarea name="info" class="form-control" id="" rows="3">{{object.info}}</textarea>
                </div>
                <div class="form-check form-switch">
                    <input name="is_private" class="form-check-input" type="checkbox" role="switch"
                        {% if object.is_private %}checked{% endif %}>
                    <label class="form-check-label">Is Private</label>
                </div>
                <div class="mb-3 row">
                    <div class="col-12 col-md-4">
                        <label for="" class="form-label">Trade Value</label>
                        <input required class="form-control" value="{{object.trade_value}}" name="trade_value" type="number"
                            step="0.01">
                    </div>
                    <div class="col-12 col-md-4">
                        <label for="" class="form-label">Cash Payment</label>
                        <input required class="form-control" value="{{object.cash_payment}}" name="cash_payment" type="number"
                            step="0.01">
                            <div id="emailHelp" class="form-text">How much cash client will be charged.</div>
                    </div>
                    <div class="col-12 col-md-4">
                        <label for="" class="form-label">Products Value</label>
                        <input disabled class="form-control" value="{{object.get_product_value|floatformat:2}}" type="number">
                        <div id="emailHelp" class="form-text">How much products are worth. Add products below to increase.</div>
                    </div>
                </div>
                <div class="mb-3">

                </div>
                {% if deal.created_by == request.user %}
                <div class="btn-group d-flex">
                    <input type="submit" value="Update" class="btn btn-primary">
                    <a class="btn btn-secondary" href="{% url 'preview_contract' object.pk %}">{% if object.status == "confirmed" %}Download Signed PDF{% else %}Preview Contract{% endif %}</a>
                    <a class="btn btn-success" onclick="return request('{{object.status}}')" href="{% url 'request_signature' object.pk %}">Request Signature</a>
                    <input onclick="return confirm('Are you sure you want to delete this?')" type="submit" name="action" value="Delete" class="btn btn-danger">

                </div>
                {% else %}
                <h5 class="text-center">You do not have permission to manage this deal</h5>
                {% endif %}

            </form>
        </div>
    </div>
</div>
<div class="col-12 col-md-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Company Info</h4>
            <div class="d-flex flex-column">
                <div class="text-muted">Name</div>
                <div>{{object.company.name}}</div>
                <div class="text-muted">Contact Name</div>
                <div>{{object.company.contact_name}}</div>
                <div class="text-muted">Contact Email</div>
                <div><a class="" href="mailto:{{object.company.contact_email}}">{{object.company.contact_email}}</a>
                </div>
                <div class="text-muted">Contact Phone</div>
                <div>{{object.company.contact_phone}}</div>
                <div class="text-muted">Company Notes</div>
                <div>{{object.company.notes}}</div>
                <div class="text-muted">Billing Address</div>
                <div>{{object.company.billing_address}}</div>
                <div class="text-muted">City, State, Zip</div>
                <div>{{object.company.city_state_zip}}</div>
                <a class="ms-auto link" href="{% url 'company_detail' object.company.pk %}">More info >></a>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="d-flex align-items-center justify-content-between px-2 mb-3">
        <h2>Products</h2>
        {% if deal.created_by == request.user %}
        <button data-bs-toggle="modal" data-bs-target="#modal" class="btn btn-primary">Add New</button>
        {% endif %}
    </div>
    {% if object.products.all %}
    <div class="row g-3">
        {% for product in object.products.all %}
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body text-center">

                    <i class="{{product.subclass.get_icon}} product-icon"></i>
                    <h4 class="card-title">{{product.get_type_display}} Product</h4>
                    <div class="lead">{% if product.discount %} <del class="text-muted">${{product.value}}</del> ${{product.get_true_value}}{% else %}${{product.value}}{% endif %}</div>
                    <div class="">{{product.notes|linebreaks}}</div>
                    <a class="btn btn-primary w-100" href="{{product.subclass.get_detail_url}}">More Info</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2 class="text-center">No Products :(</h2>
    {% endif %}
</div>

{% include 'business/modals/product.html' %}

{% endblock %}

{% block js %}
<script src="{% static 'js/deal.js' %}"></script>
{% endblock %}