body {
    background-color: #f3f4f9;
    
  }
  
.card{
    border-color: white;
    border-radius: 10px;
  }
  .form-control{
    border-radius: 10px;
}
.form-group{
  margin-bottom: 1rem !important;
}

.purple{
  color: #713adb;
  
}


.btn-primary{
    background-color: #713adb;
    border:#713adb 2px solid;
    color: white;
    border-radius: 10px;
    transition: all 300ms ease;
    outline: none;
}
.btn-primary:hover{
    background-color: #5a2bb8;
    border-color: #5a2bb8;
}
.btn-primary:focus{
  background-color: #5a2bb8;
  border-color: #5a2bb8;
}
.btn-primary:active{
  background-color: #5a2bb8;
  border-color: #5a2bb8;
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary{
  background-color: #5a2bb8;
  border-color: #5a2bb8;
}
.table-link{
  cursor: pointer;
}
.product-icon{
  font-size: 40px;
  color: #713adb;
}
.product-type{
  font-size: 15px;
  font-weight: bold;
  color: grey;
}
.product-card{
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  min-width: 100px;
}
.link{
  color: #9ba0b5;
  text-decoration: none;
  font-weight: bold;
  transition: all 300ms ease;
}
.link:hover{
  color: #67278e;
}
/* 

#67278e


#713adb
#f3f4f9
#9ba0b5

*/