
    <h4>Add New Company</h4>
    <div class="mb-3">
      <label class="form-label">Company Name</label>
      <input required name="company-name" type="text" class="form-control" placeholder="">
    </div>
    <div class="mb-3">
      <label class="form-label">Contact Name</label>
      <input required name="contact-name" type="text" class="form-control" placeholder="">
    </div>
    <div class="mb-3">
      <label class="form-label">Contact Email</label>
      <input required name="contact-email" type="text" class="form-control" placeholder="">
    </div>
    <div class="mb-3">
      <label class="form-label">Billing Address</label>
      <input required name="billing-address" type="text" class="form-control" placeholder="44 Bow Street">
    </div>
    <div class="mb-3">
      <label class="form-label">City, State, Zip</label>
      <input required name="city-state-zip" type="text" class="form-control" placeholder="Cambridge, MA 02138">
    </div>