
    <h4>Add New Company</h4>
    <div class="mb-3">
        <label class="form-label">Company Name</label>
        <input required name="company-name" type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Company Notes</label>
        <textarea name="company-notes" class="form-control"></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label">Contact Name</label>
        <input required name="contact-name" type="text" class="form-control" placeholder="">
      </div>
      <div class="mb-3">
        <label class="form-label">Contact Email</label>
        <input required name="contact-email" type="text" class="form-control" placeholder="">
      </div>