{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body style="font-family:sans-serif;margin-left:1em;">
     <h1>Test</h1>
    <h4>Ordered by {{test}}</h4>
    <p style="margin-top:0em; margin-bottom:0em;">Email: {args["signer_email"]}</p>
    <p style="margin-top:0em; margin-bottom:0em;">Copy to: {args["cc_name"]}, {args["cc_email"]}</p>
    <p style="margin-top:3em;">
        Candy bonbon pastry jujubes lollipop wafer biscuit biscuit. Topping brownie sesame snaps sweet roll pie. 
        Croissant danish biscuit soufflé caramels jujubes jelly. Dragée danish caramels lemon drops dragée. 
        Gummi bears cupcake biscuit tiramisu sugar plum pastry. Dragée gummies applicake pudding liquorice. 
        Donut jujubes oat cake jelly-o. 
        Dessert bear claw chocolate cake gummies lollipop sugar plum ice cream gummies cheesecake.
    </p>
    <!-- Note the anchor tag for the signature field is in white. -->
    <h3 style="margin-top:3em;">Agreed: <span style="color:white;">**signature_1**/</span></h3>
    </body>
</html>