{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>


      <div class="row g-3">
        <h4 class="text-center">All Lampoon Deals - Monthly Performance</h4>
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <canvas id="deal-chart" width="" height="100"></canvas>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
const data = {{monthly_data|safe}}
</script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}