<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Company</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="">{% csrf_token %}
        <div class="modal-body">
              
        <div class="mb-3">
            <label class="form-label">Company Name</label>
            <input required name="name" type="text" class="form-control" placeholder="">
          </div>
          <div class="mb-3">
            <label class="form-label">Contact Name</label>
            <input required name="contact_name" type="text" class="form-control" placeholder="">
          </div>
          <div class="mb-3">
            <label class="form-label">Contact Email</label>
            <input required name="contact_email" type="text" class="form-control" placeholder="">
          </div>
          <div class="mb-3">
            <label class="form-label">Billing Address</label>
            <input required name="billing_address" type="text" class="form-control" placeholder="44 Bow Street">
          </div>
          <div class="mb-3">
            <label class="form-label">City, State, Zip</label>
            <input required name="city_state_zip" type="text" class="form-control" placeholder="Cambridge, MA 02138">
          </div>
          <button type="submit" class="btn btn-primary w-100">Create</button>
        </div>
        </form>
      </div>
    </div>
  </div>