<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select Product Type</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-evenly mb-4">
            <a href="{% url 'create_magazine_product' object.pk %}" class="text-center shadow product-card">
              <i class="fas fa-book-open product-icon"></i>
              <div class="product-type">Magazine</div>
            </a>
            <a href="{% url 'create_website_product' object.pk %}" class="text-center shadow product-card">
              <i class="fa fa-globe product-icon"></i>
              <div class="product-type">Website</div>
            </a>
            <a href="{% url 'create_newsletter_product' object.pk %}" class="text-center shadow product-card">
              <i class="fas fa-inbox product-icon"></i>
              <div class="product-type">Newsletter</div>
            </a>
            <a href="{% url 'create_flag_product' object.pk %}" class="text-center shadow product-card">
              <i class="fas fa-flag product-icon"></i>
              <div class="product-type">Flag</div>
            </a>
          </div>
          <div class="d-flex justify-content-evenly">
            <a href="{% url 'create_event_product' object.pk %}" class="text-center shadow product-card">
              <i class="far fa-calendar-alt product-icon"></i>
              <div class="product-type">Event</div>
            </a>
            <a href="{% url 'create_popup_product' object.pk %}" class="text-center shadow product-card">
              <i class="fa fa-handshake product-icon"></i>
              <div class="product-type">Popup</div>
            </a>
            <a href="{% url 'create_other_product' object.pk %}" class="text-center shadow product-card">
              <i class="fas fa-question product-icon"></i>
              <div class="product-type">Other</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>